// variables

//colors
$primary: #EF4B46;
$primary-light: #ff5e58;
$primary-dark: #d1312c;

$secondary: rgb(23, 23, 225);
$secondary-light: rgb(70, 70, 255);
$secondary-dark: rgb(16, 16, 188);

$paper-light: #fff;
$paper-dark: rgba(0, 0, 0, 0.862);


$mobile-width: 600px;
$tablet-width : 1024px;

$font-family: 'Roboto', sans-serif;